.footer-section
{
    background-color: rgb(39, 48, 72);
    height: 180px;
    color: white;
    font-family: "Poppins Reguler";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}